__pycache__/
*.pyc

.*
.*/
.ipynb_checkpoints/
src/app/api/payment/
tests_kubernetes.sh
my-cluster.yaml
kubernetes_exchange.ipynb
chart/scraiber-api/config
chart/scraiber-api/cluster_dict.json
.pytest_cache
venv/
/.ipynb_checkpoints/
